<footer style="margin-bottom: 10px;">
    <div class="container">
        <div style="text-align: center; font-size: 18px; margin-bottom: 30px;">&copy; Friibee</div>
        <nav>
            <ul style="list-style: none; display: flex; justify-content: space-between;">
                <li style="margin-right: 10px;"><a href="{% url 'about-footer' %}">About</a></li>
                <li style="margin-right: 10px;"><a href="{% url 'cookie-policy-footer' %}">Cookie Policy</a></li>
                <li style="margin-right: 10px;"><a href="{% url 'copyright-policy-footer' %}">Copyright Policy</a></li>
                <li style="margin-right: 10px;"><a href="{% url 'privacy-policy-footer' %}">Privacy Policy</a></li>
                <li><a href="{% url 'terms-service-footer' %}">Terms of Service</a></li>
            </ul>
        </nav>
    </div>
</footer>
