{% extends 'main.html' %}

{% block content %}

<style>
    /* CSS for spacing and design improvements */
    .changePassword h3 {
        margin-bottom: 20px;
    }
    
    .changePassword form p {
        margin-bottom: 20px; /* spacing between form elements */
    }

    .changePassword button {
        margin-top: 30px; /* spacing above the button */
    }

    .changePassword label {
        display: block;
        margin-bottom: 10px; /* spacing below the label */
    }

    .changePassword input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px; /* spacing below the input field */
        border-radius: 5px;
        border: 1px solid #ccc;
    }
</style>

<section class="heros-section text-center" style="margin-bottom: -20px;">
    <div class="container container--narrow">
        <div class="heros-section__box">
            <h2><span>Change Password</span></h2>
        </div>
    </div>
</section>

<div class="container">
<main class="changePasswordPage my-xl">
  <div class="content-box">
        <h3>Change Password Form</h3>
    <div class="changePassword" style="margin-top: 20px;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="tag tag--pill tag--main settings__btn" type="submit"><i class="im im-edit"></i>Change Password</button>
        </form>
    </div>
  </div> 
</main>
</div>

{% endblock %}
