{% extends 'main.html' %}


{% block content %}
<!-- Main Section -->

<section class="heros-section text-center">
  <div class="container container--narrow">
      <div class="heros-section__box">
          <h2><span>Messages</span></h2>
      </div>
  </div>
</section>

<main class="messagePage my-xl">
  <div class="content-box">
    <div class="message">
      <a href="{% url 'inbox-sent-messages' %}" class="button-inbox">Go Back</a>
      <h2 class="message__subject">{{message.subject}}</h4>
        {% if message.sender %}
        <a href="{% url 'user-profile' message.sender.id  %}" class="message__author">{{message.name}}</a>
        {% else %}
        <p class="message__author">{{message.name}}</p>
        {% endif %}
        <p class="message__date">{{message.created}}</p>
        <div class="message__body">{{message.body|linebreaksbr}}</div>
        <a href="{% url 'create-message' message.sender.id %}?parent_id={{message.id}}">Reply</a>

    </div>



  </div>
</main>



{% endblock content %}