{% extends 'main.html' %}

{% block content %}

<section class="heros-section text-center" style="margin-bottom: -20px;">
    <div class="container container--narrow">
        <div class="heros-section__box">
            <h2>Privacy <span>Policy</span></h2>
        </div>
    </div>
</section>

<div class="container">
    <main class="privacy-section my-xl">
        <div class="content-box">
            <h1>Privacy Policy</h1>
            <p>At Friibee, we respect and protect your privacy. This Privacy Policy outlines the types of information we collect when you use Friibee, how we use this information, and with whom we share it.</p>

            <h2>Information Collection and Use</h2>
            <p>We may collect personally identifiable information, such as your email address, name, and location, to enhance user experience and improve our services. We use this data to customize content, respond to inquiries, and manage your account.</p>

            <h2>Information Sharing and Disclosure</h2>
            <p>We do not sell or rent your personal information to third parties. However, we may disclose your information to our trusted service providers who assist us in operating our website, conducting our business, or serving our users, as long as these parties agree to keep this information confidential.</p>

            <h2>Security</h2>
            <p>Your personal information's security is crucial to us. We implement a variety of security measures to maintain the safety of your personal information. However, the transmission of information via the internet is not completely secure, and we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk.</p>

            <h2>Changes to this Privacy Policy</h2>
            <p>We may update our Privacy Policy periodically to reflect changes in our practices and services. If we make significant changes, we will notify you through the Services or through other means, such as email.</p>

        </div>
    </main>
</div>

{% endblock %}
