{% extends 'main.html' %}

{% block content %}

<section class="heros-section text-center" style="margin-bottom: -20px;">
    <div class="container container--narrow">
        <div class="heros-section__box">
            <h2>Our <span>Terms of Service</span></h2>
        </div>
    </div>
</section>

<div class="container">
<main class="settingsPage my-xl">
  <div class="content-box">
        <h3 style="margin-bottom: 40px;">Please Read Carefully</h3>
    <div class="terms" style="display: block; gap: 20px; align-items: flex-start;">

        <h5 style="font-size: 1.6em;">Using Friibee</h5>
        <p>You must follow any policies made available to you within the Services. You must not misuse or interfere with our Services or try to access them using a method other than the interface and the instructions that we provide.</p>

        <h5 style="font-size: 1.6em;">Your Content in our Services</h5>
        <p>Friibee allows you to upload, submit, store, send, and receive content. You retain ownership of any intellectual property rights that you hold in that content. When you upload, submit, store, send or receive content to or through our Services, you give Friibee a worldwide license to use, host, store, reproduce, modify, create derivative works, communicate, publish, publicly perform, publicly display and distribute such content.</p>

        <h5 style="font-size: 1.6em;">Termination</h5>
        <p>If you violate these Terms, we reserve the right to deactivate your account or terminate these Terms, at our sole discretion, at any time and without notice or liability to you.</p>

        <h5 style="font-size: 1.6em;">Changes to the Terms</h5>
        <p>We may modify these Terms at any time. If we do so, we'll let you know either by posting the modified Terms on the Site or through other communications. By continuing to use the Services after the changes come into effect, you agree to the revised Terms.</p>

    </div>
  </div>
</main>
</div>

{% endblock %}
