{% extends 'main.html' %}

{% block content %}

<section class="heros-section text-center" style="margin-bottom: -20px;">
    <div class="container container--narrow">
        <div class="heros-section__box">
            <h2>Cookie <span>Policy</span></h2>
        </div>
    </div>
</section>

<div class="container">
    <main class="cookie-section my-xl">
        <div class="content-box">
            <h1>Cookie Policy</h1>
            <p>Our site, Friibee, uses cookies to distinguish you from other users, provide a better experience when you browse our website, and improve our site's performance and usefulness. By continuing to browse the site, you are agreeing to our use of cookies.</p>

            <h2>What are cookies?</h2>
            <p>Cookies are small files stored on your browser or the hard drive of your computer. They are used to collect information about how you navigate our website.</p>

            <h2>How do we use cookies?</h2>
            <p>We use cookies to remember your preferences, present relevant content, provide social media features, and analyze our traffic. We may share anonymous statistical data about our users' browsing actions and patterns with third parties for advertising purposes.</p>

            <h2>Managing cookies</h2>
            <p>You can manage website cookies in your browser settings, and you always have the choice to change these settings by accepting, rejecting, or deleting cookies. If you choose to change your settings, certain features may not work as intended.</p>

            <h2>Changes to this Cookie Policy</h2>
            <p>We may update this Cookie Policy from time to time in order to reflect changes to our practices or for other operational, legal, or regulatory reasons.</p>

        </div>
    </main>
</div>

{% endblock %}
