main{
  min-height: 80vh;
}

h1{
font-size: 1.8rem;
padding:1rem 0;
}

h2{
font-size: 1.4rem;
padding:0.5rem 0;
}

h3{
  padding:1rem 0;
}

.rating span{
margin:0.1rem;
}


.project-thumbnail {
  height: 220px;  /* Adjust this value based on your requirements */
  object-fit: cover;  /* This will ensure the image covers the area without distortion */
  width: 100%;  /* Ensure the image takes the full width */
}

.scroll-container {
  display: flex;
  align-items: center; /* To ensure vertical alignment */
  justify-content: space-between; /* Distributes space between and around content items */

}

.tab-wrapper {
  display: flex;
  overflow-x: auto;  
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  padding: 10px 0;
  flex-grow: 1; /* Ensures it takes up the maximum space between buttons */
  border-bottom: 1px solid #ccc;
}

Button {
  margin: 0 5px;
}

.scroll-btn {
  background: #FF5733;
  color: white;
  padding: 10px;
  height: fit-content;
  margin: 0 10px; /* Add some margin for spacing */

}

Button.active {
  background-color: #FF5733;
  color: white;
}


/* UserProfileDetail.css */

.deal-image {
  width: 100%;   /* Adjust this value based on your preference */
  height: 150px; /* Adjust this value based on your preference */
  background-size: contain; /* This will make sure the image fits inside the div */
  background-repeat: no-repeat; /* Ensure the image doesn't repeat */
  background-position: center; /* Center the image */
}


.related-projects-slider {
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.related-project {
  flex: 0 0 auto;
  width: 200px;
}


.message-row:hover {
  cursor: pointer;
}


.red-alert-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute; /* Position it relative to the parent */
  right: 0;
  top: 0;
}


.notification-alert-icon {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: -18px; /* Adjusted for overlap */
  right: 0px; /* Adjusted for overlap */
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 24px; /* Increased size */
  height: 24px; /* Increased size */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; /* Adjust font size if needed */
  cursor: pointer;
  transform: translateX(50%); /* Move the icon rightwards to overlap the profile image */
  z-index: 1; /* Ensure it's above other elements */
}



.font-weight-bold {
  font-weight: bold;
}

.bold-notification {
  font-weight: bold !important;
  /* color: red !important; */
}

.fw-bold {
  font-weight: bold !important;
}


.bold-notification-link {
  font-weight: bold !important;;
}


/* in your CSS file */
.no-underline {
  text-decoration: none;
}


/* CSS file */
.button-disabled {
  color: #cccccc; /* Mild grey color, change as needed */
  background-color: #f0f0f0; /* Mild background color, change as needed */
  cursor: not-allowed;
  /* Add other styling as necessary to match your design */
}



.speech-bubble {
  position: relative;
  background: linear-gradient(to right, #f9f9ff, #fff9fe, #fdf6f6); /* Default background */
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #f0f0f0; /* Default arrow color */
}

/* For messages on the right, change the background color */
.speech-bubble.right {
  background: linear-gradient(to right top, #ffe5fe, #ffe5fd, #ffe6fc, #ffe6fb, #ffe7fa, #fee8f9, #fee9f9, #fdeaf8, #fbebf7, #f9edf7, #f8eef6, #f6eff5);
}

.speech-bubble.right:after {
  right: 100%;
  top: 50%;
  border-right-color: #e9e4f3; /* Arrow color matching the bubble */
  border-top: none;
  margin-top: -10px;
}

/* For messages on the left, use a different background color */
.speech-bubble.left {
  background: linear-gradient(to right top, #e5fcff, #e5fdff, #e6fdff, #e6fefe, #e7fefe, #e8fdfe, #e8fdfd, #e9fcfd, #eafafc, #ecf8fa, #eef6f8, #eff4f6);
}

.speech-bubble.left:after {
  left: 100%;
  top: 50%;
  border-left-color: #e3fcff; /* Arrow color matching the bubble */
  border-top: none;
  margin-top: -10px;
}

.message-content {
  font-size: 18px; /* Sets the font size to 14 pixels */
  margin-bottom: 0;
}


.reply-button {
  margin-left: 10px; /* or margin-right for left aligned messages */
}


/* In your CSS file (e.g., Thread.css) */

.thread-container {
  margin-left: 50px; /* Increase margin as you wish */
  margin-right: 50px; /* Increase margin as you wish */
}

.sender-username {
  text-decoration: none; /* This removes the underline */
  display: block; /* This makes it possible to center the text */
  text-align: center; /* This centers the text */
  color: inherit; /* Optional: This ensures the username has the default text color, you might want to set a specific color */
}



/* UserAccount.css */
.profile-card {
  width: 350px; /* Set the card width */
  overflow: hidden; /* Prevents content from spilling outside the card */
}

.profile-image {
  width: 100%; /* Ensures the image takes up the full card width */
  height: 350px; /* Sets the height of the image */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.user-profile-card {
  width: 400px;
  height: 400px;
  margin: auto; /* Center the card */
}

.user-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}


.title, .username, .price, .voting-button, .text {
  text-decoration: none; 
  color: black;          
}



.form-group-margin {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.forms-group-margin {
  margin-bottom: 20px; /* Adjust the value as needed */
}


/* Add this CSS to your stylesheet, adjusting values as necessary */
@media (max-width: 768px) {
  .pagination-button {
      margin: 0 2px; /* Smaller margins on mobile */
      padding: 5px 10px; /* Adjust padding as needed */
      font-size: 12px; /* Smaller font size on mobile */
  }
}

/* Ensure your button container wraps on small screens */
.d-flex.justify-content-center.mt-4 {
  flex-wrap: wrap;
}


.my-container {
  padding: 20px;
}

.table-responsive {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .my-container h2 {
    font-size: 1.5rem; /* Smaller heading for smaller screens */
  }

  .my-container .button-group {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: stretch; /* Ensure buttons stretch to fill the container width */
  }
}

.vertical-center {
  vertical-align: middle;
  text-align: center; /* Assuming you want to center content horizontally as well */
}

.vertical-center-img {
  vertical-align: middle; /* For table cell alignment */
  text-align: center; /* For text alignment */
  display: flex; /* Makes the element a flex container */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  flex-direction: column; /* Stacks children vertically */
}


/* Wrapper to hold the profile info and allow full-width lines */
.profile-info-wrapper {
  position: relative;
  width: 100%;
  /* Ensure there's space for the bottom line */
  padding-top: 2px; /* Space for the top line */
  padding-bottom: 2px; /* Space for the bottom line */
  margin-bottom: 2rem; /* Adjust spacing as needed */
}

.profile-info-container {
  display: inline-block; /* or 'block' depending on your layout */
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(153, 153, 153, 0.1);
  position: relative;
  z-index: 1;
}

/* Utilize the wrapper for full-width top and bottom lines */
.profile-info-wrapper::before,
.profile-info-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 50%, rgba(255,255,255,0) 100%);
  z-index: 0; /* Ensures lines are below the container */
}
.profile-info-wrapper::before {
  top: 0; /* Line at the top of the wrapper */
}

.profile-info-wrapper::after {
  bottom: 0; /* Line at the bottom of the wrapper */
}

/* Styling for the profile image */
.profilex-image {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Circular image */
}

/* Styling for the username */
.profilex-username {
  margin-top: 0.5rem; /* Spacing between image and username */
  font-weight: bold; /* Strong emphasis on username */
}

/* Optional: Enhance the hover effect on the profile info container */
.profile-info-container:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); /* More pronounced shadow on hover */
}


.vertical-line {
  border-right: 1px solid #dee2e6; /* Adjust the color to match your table's theme */
}


.voting-buttons-mobile {
  position: absolute;
  top: 20px; 
  left: 140px; 
  display: none; 

}

/* Adjusting the font size and padding for buttons inside .voting-buttons-mobile */
.voting-buttons-mobile button {
  font-size: 30px; /* Larger font size for visibility */
  padding: 5px 20px; /* Larger padding for easier interaction */
  margin: 0 5px; /* Add some space between the buttons */

}
.voting-buttons-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}


/* Desktop specific styles */
@media (min-width: 769px) {
  .return-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 768px) { 
  .voting-buttons-mobile {
    position: absolute;
    top: -90px; /* Adjust this value as needed to position the buttons */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* This will add space between the two buttons */
    width: 100% ;
    font-size: 30px;
    padding: 10px 20px;
    margin-top: 20px;

  }

  .voting-button.dislike, .voting-button.like, .voting-button.return{
    display: none; 
  }


}

.voting-button.return {
  font-size: 30px; 
  padding: 10px 20px;

}


.voting-button.dislike {
  margin-right: 120px; /* Adjust spacing as needed */
  font-size: 30px; 
  padding: 10px 20px;
  margin-top: 480px;

}

.voting-button.like {
  margin-left: 120px; 
  font-size: 30px; 
  padding: 10px 20px;
  margin-top: 480px;

}


